<footer>
    <div class="f-container">
        
            <div class="f-icon">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="f-text">&copf; Wander Lust private limited</div>
            <div class="f-info-links">
                <a href="/term">Terms</a>
                <a href="/condition">Condition</a>
            </div>
            

            </div>
    </div>

</footer>